#feedback {
    margin-top: 3em;
    margin-left: 40%;
    width: 300px;
    height: auto;
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    border-radius: 5px;
    box-shadow: 1px 3px 20px 1px #6f7364;
    /* make this element invisible until we are ready for it */    
}
.moveDown {
    margin-top: 3em;
}
     
.form{
    display: grid;
    grid-template-rows: 40px 40px 40px 40px;
    margin: auto;
}
.name{
    grid-row: 1/2;
    margin: auto;
}
.mail{
    grid-row: 2/3;
    margin: auto;
}
.msg{
    grid-row: 3/4;
    margin: auto;
}
.button{
    grid-row: 4/5;
    margin: auto;
}